<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "store/logo-white.png", :alt => " ", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:012341234567"></a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:demo@spreecommerce.com"></a>
      </div>
      <br>
      <div class="address">
        <br>
      </div>
    </div>
    
    <div class="four columns">
      <h5></h5>
      <ul>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5></h5>
      <ul>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
        <li><a href="/products"></a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5></h5>
      <p></p>
    </div>
    
  </div>
</footer>
